In [1]:
import pandas as pd

In [2]:
l1=([1,2,34,5,6,78,4])

In [3]:
s=pd.Series(l1)

In [4]:
s
#it will show index column and s colmn

0     1
1     2
2    34
3     5
4     6
5    78
6     4
dtype: int64

In [5]:
s1=pd.Series([2,3,5,6,7,435])

In [6]:
s1

0      2
1      3
2      5
3      6
4      7
5    435
dtype: int64

 + Indexing

In [7]:
S1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [8]:
S1
# it give index to the elements

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
S1=pd.Series([1,2,3,4,5],index=['sparta','ahmad','khan','usman','nikel'])

In [10]:
S1

sparta    1
ahmad     2
khan      3
usman     4
nikel     5
dtype: int64

### Seires of Dictionary

In [11]:
s1=pd.Series({'khan':10,'ahmad':34})

In [12]:
s1

khan     10
ahmad    34
dtype: int64

+ indexing values in Series

In [13]:
s2=pd.Series({'a':100,'b':200})

In [14]:
s2

a    100
b    200
dtype: int64

In [15]:
s2=pd.Series({'a':100,'b':200,'c':2},index=['d','c'])

In [16]:
s2 # it will show only d & c because a and b is not there

d    NaN
c    2.0
dtype: float64

+ Extracting Single Element

In [17]:
a1=pd.Series([2,3,4,5,6,7])

In [18]:
a1[1]

3

In [19]:
a1[4]

6

+ Extracting Sequence of Elements

In [20]:
a1[1:3]

1    3
2    4
dtype: int64

In [21]:
a1[:-1]

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [22]:
a1[5]

7

In [23]:
a1[-3:]

3    5
4    6
5    7
dtype: int64

In [24]:
a1+2

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int64

In [25]:
b1=pd.Series([1,2,3,4,5,6])

In [26]:
b2=pd.Series([5,6,7])

In [27]:
b1+b2
# Adding two Series

0     6.0
1     8.0
2    10.0
3     NaN
4     NaN
5     NaN
dtype: float64

In [28]:
b1+3 
# Adding a scalar value to Series Elements

0    4
1    5
2    6
3    7
4    8
5    9
dtype: int64

In [29]:
c1=pd.Series([1,2,3,4,5,6])

In [30]:
c2=pd.Series([5,6,7,8,9,8])

In [31]:
c1+c2

0     6
1     8
2    10
3    12
4    14
5    14
dtype: int64

In [32]:
c1-c2
# Subtracting two Series

0   -4
1   -4
2   -4
3   -4
4   -4
5   -2
dtype: int64

In [33]:
c1*3
# Multiply with 3

0     3
1     6
2     9
3    12
4    15
5    18
dtype: int64